.product-detail {
  padding: 80px 20px;
  color: white;
  background: #34699A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-detail .product-content {
  width: 100%;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  max-width: 1000px;
  margin-bottom: 40px;
}
.product-detail .product-content .product-left {
  width: 40%;
  text-align: center;
  flex: 1;
}
.product-detail .product-content .product-left .product-icon {
  width: 100%;
  margin-bottom: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 1rem;
}
.product-detail .product-content .product-left h1 {
  color: #FDF5AA;
  font-size: 2rem;
}
.product-detail .product-content .product-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
}
.product-detail .product-content .product-right .desc {
  font-size: 1.7rem;
  font-weight: bolder;
  margin-bottom: 15px;
  color: #fff;
}
.product-detail .product-content .product-right .details {
  font-size: 1.2rem;
  font-family: monospace;
  line-height: 1.6rem;
  color: #ccc;
  max-width: 600px;
}
.product-detail .back-btn {
  text-align: center;
}
.product-detail .back-btn button {
  padding: 10px 20px;
  background: #30e3ca;
  color: #0a0a0a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
.product-detail .back-btn button:hover {
  background: #26c2b2;
}